body {
	background-color: #ccff66;
}

h1 {
	color: #000000;
	font-family: 'Gravitas One', Arial, sans-serif;
	font-size: 72px;
	text-decoration: underline;
	margin-right: 40px;
	margin-left: 40px;
}

p {
	color: #4d4d4d;
	font-family: Arial, sans-serif;
	font-size: 32px;
	margin-right: 40px;
	margin-left: 40px;
}

}

a:link {
	color: #000000;
	text-decoration: none;

}

a:visited {
	color: #bbbbbb;
	text-decoration: none;

}

a:hover {
	color: #ff3399;
	text-decoration: none;
}