body {
	-webkit-animation: pulsate 20s linear infinite;
    -moz-animation: pulsate 20s linear infinite;
    animation: pulsate 20s linear infinite;
}

@-webkit-keyframes pulsate {
    0% {background: #ff4000}
    20% {background: #ffbf00}
    40% {background: #bfff00}
    60% {background: #00ffbf}
    80% {background: #ff00ff}
    100% {background: #ff4000}
}

@-moz-keyframes pulsate {
    0% {background: #ff4000}
    20% {background: #ffbf00}
    40% {background: #bfff00}
    60% {background: #00ffbf}
    80% {background: #ff00ff}
    100% {background: #ff4000}
}

@keyframes pulsate {
    0% {background: #ff4000}
    20% {background: #ffbf00}
    40% {background: #bfff00}
    60% {background: #00ffbf}
    80% {background: #ff00ff}
    100% {background: #ff4000}
    
}

h1 {
	font-family: 'Gravitas One', Arial, sans-serif;
	font-weight: normal;
	font-size: 94px;
	text-decoration: underline;
	margin-right: 40px;
	margin-left: 40px;
}

p {
	color: #4d4d4d;
	font-family: Arial, sans-serif;
	font-size: 32px;
	margin-right: 40px;
	margin-left: 40px;
}

a {
  color: #000000;
  text-decoration: underline;

 }

a:link {
	color: #000000;
	text-decoration: underline;

}

a:visited {
	color: #bbbbbb;
	text-decoration: none;

}

a:hover {
	color: #000000;
	text-decoration: underline;

}

a:active {
	color: #000000;
	text-decoration: none;

}